html
    head
        title Index Page
    body
        //Jave String comment
        h1 What #{name} 
        h2 Lorem ipsum
        hr
        - for(var i = 0 ; i < 10 ; i++){
            p
                a(href="http://www.naver.com", data-test="multiple Attribute") Go to naver #{i} GOGO
        - }